<header class="main-header">
  <div class="nav-left">
    <a href="/" class="logo">PeterJacobs</a>
    <nav class="main-nav" aria-label="Main navigation">
      <ul>
        <li><a href="/#skills" class="nav-link">Skills</a></li>
        <li><a href="/#projects" class="nav-link">Projects</a></li>
        <li><a href="/#contact" class="nav-link">Contact</a></li>
        <li>
          <a
            href="/blog/"
            class="nav-link{% if page.url contains 'blog' %} active{% endif %}"
            >Blog</a
          >
        </li>
      </ul>
    </nav>
  </div>

  <nav class="socials" aria-label="Header social links">
    <ul>
      <li>
        <a
          href="https://www.linkedin.com/in/thisispeterj/"
          target="_blank"
          aria-label="LinkedIn"
        >
          <img src="/assets/images/icon-linkedin.svg" alt="LinkedIn" />
        </a>
      </li>
      <li>
        <a
          href="https://github.com/thisispeterj"
          target="_blank"
          aria-label="GitHub"
        >
          <img src="/assets/images/icon-github.svg" alt="GitHub" />
        </a>
      </li>
      <li>
        <a
          href="https://codepen.io/thisispeterj/"
          target="_blank"
          aria-label="CodePen"
        >
          <img src="/assets/images/icon-codepen.svg" alt="CodePen" />
        </a>
      </li>
      <li>
        <a
          href="https://www.frontendmentor.io/profile/thisispeterj"
          target="_blank"
          aria-label="Frontend Mentor"
        >
          <img
            src="/assets/images/icon-frontend-mentor.svg"
            alt="Frontend Mentor"
          />
        </a>
      </li>
    </ul>
  </nav>
</header>
