---
// import components
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

// import css styles
import "../styles/style.css";

// create page title variable
const pageTitle = "Thisispeterj";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>
    <link rel="stylesheet" href="/src/styles/style.css" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7GWY4W5SL2"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-7GWY4W5SL2");
    </script>
  </head>
  <body>
    <div class="grid-layout">
      <Navigation />
      <section class="hero">
        <img class="hero__img" src="/src/images/peterprofile.jpeg" alt="" />
        <h1 class="hero__title">
          Nice to meet you! I'm <span>Peter Jacobs</span>.
        </h1>
        <p class="hero__copy">
          Based in the US, I'm a front-end developer passionate about building
          accessible web apps that users love.
        </p>
        <a href="#" class="button">Contact Me</a>
      </section>
      <section id="skills" class="skills">
        <div>
          <h3>HTML</h3>
          <p>10 Years Experience</p>
        </div>
        <div>
          <h3>CSS</h3>
          <p>10 Years Experience</p>
        </div>
        <div>
          <h3>Javascript</h3>
          <p>4 Years Experience</p>
        </div>
        <div>
          <h3>SASS</h3>
          <p>5 Years Experience</p>
        </div>
        <div>
          <h3>QA Testing</h3>
          <p>10 Years Experience</p>
        </div>
        <div>
          <h3>Automated Testing</h3>
          <p>5 Years Experience</p>
        </div>
      </section>
      <section id="projects" class="projects">
        <div class="projects__header">
          <h2>Projects</h2>
          <a href="#contact" class="button">Contact Me</a>
        </div>
        <div class="project">
          <div class="project__img">
            <img src="/src/images/projects/dashboard-glass.png" alt="" />
          </div>
          <h3>Glass Dashboard</h3>
          <div class="project__tags">
            <p>HTML</p>
            <p>CSS</p>
          </div>
          <div class="project__links">
            <a
              href="https://codepen.io/thisispeterj/live/wvOQeYB"
              target="_blank"
              class="button">View Project</a
            >
            <a
              href="https://codepen.io/thisispeterj/pen/wvOQeYB"
              target="_blank"
              class="button">View Code</a
            >
          </div>
        </div>
        <div class="project">
          <div class="project__img">
            <img src="/src/images/projects/cards-cssbattle.png" alt="" />
          </div>
          <h3>Inspiration - CSS Battle Card</h3>
          <div class="project__tags">
            <p>HTML</p>
            <p>CSS</p>
          </div>
          <div class="project__links">
            <a
              href="https://codepen.io/thisispeterj/live/LYaJmqR"
              target="_blank"
              class="button">View Project</a
            >
            <a
              href="https://codepen.io/thisispeterj/pen/LYaJmqR"
              target="_blank"
              class="button">View Code</a
            >
          </div>
        </div>
        <div class="project">
          <div class="project__img">
            <img src="/src/images/projects/inspiration-apple.png" alt="" />
          </div>
          <h3>Inspiration - Apple Bento Design</h3>
          <div class="project__tags">
            <p>HTML</p>
            <p>CSS</p>
          </div>
          <div class="project__links">
            <a
              href="https://codepen.io/thisispeterj/live/gOEqqvL"
              target="_blank"
              class="button">View Project</a
            >
            <a
              href="https://codepen.io/thisispeterj/pen/gOEqqvL"
              target="_blank"
              class="button">View Code</a
            >
          </div>
        </div>
        <div class="project">
          <div class="project__img">
            <img src="/src/images/projects/inspiration-kyoto.png" alt="" />
          </div>
          <h3>Inspiration - Kyoto Studio</h3>
          <div class="project__tags">
            <p>HTML</p>
            <p>CSS</p>
          </div>
          <div class="project__links">
            <a
              href="https://codepen.io/thisispeterj/live/PoLypNG"
              target="_blank"
              class="button">View Project</a
            >
            <a
              href="https://codepen.io/thisispeterj/pen/PoLypNG"
              target="_blank"
              class="button">View Code</a
            >
          </div>
        </div>
        <div class="project">
          <div class="project__img">
            <img src="/src/images/projects/cards-socials.png" alt="" />
          </div>
          <h3>Social Links</h3>
          <div class="project__tags">
            <p>HTML</p>
            <p>CSS</p>
          </div>
          <div class="project__links">
            <a
              href="https://thisispeterj.github.io/frontEndMentor-social-links-profile/"
              target="_blank"
              class="button">View Project</a
            >
            <a
              href="https://github.com/thisispeterj/frontEndMentor-social-links-profile"
              target="_blank"
              class="button">View Code</a
            >
          </div>
        </div>
        <div class="project">
          <div class="project__img">
            <img src="/src/images/projects/cards-qr.png" alt="" />
          </div>
          <h3>QR Code</h3>
          <div class="project__tags">
            <p>HTML</p>
            <p>CSS</p>
          </div>
          <div class="project__links">
            <a
              href="https://thisispeterj.github.io/frontEndMentor-QR-Code/"
              target="_blank"
              class="button">View Project</a
            >
            <a
              href="https://github.com/thisispeterj/frontEndMentor-QR-Code"
              target="_blank"
              class="button">View Code</a
            >
          </div>
        </div>
        <div class="project">
          <div class="project__img">
            <img src="/src/images/projects/page-recipe.png" alt="" />
          </div>
          <h3>Recipe Page</h3>
          <div class="project__tags">
            <p>HTML</p>
            <p>CSS</p>
          </div>
          <div class="project__links">
            <a
              href="https://rad-stardust-037927.netlify.app/"
              target="_blank"
              class="button">View Project</a
            >
            <a
              href="https://github.com/thisispeterj/frontEndMentor-Recipe-Page"
              target="_blank"
              class="button">View Code</a
            >
          </div>
        </div>
      </section>
      <footer>
        <section id="contact" class="contact__cta">
          <h2>Contact</h2>
          <p>
            I would love to hear about your project and how I could help. Please
            fill in the form, and I'll get back to you as soon as possible.
          </p>
        </section>
        <form action="https://formspree.io/f/xblawqjd" method="POST">
          <!-- Honeypot field for spam protection -->
          <input type="text" name="_gotcha" style="display:none" />
          <!-- Custom subject and redirect -->
          <input
            type="hidden"
            name="_subject"
            value="New message from thisispeterj.com"
          />
          <input
            type="hidden"
            name="_next"
            value="https://thisispeterj.github.io/thisispeterj/thank-you"
          />
          <input
            type="text"
            id="name"
            name="name"
            placeholder="NAME"
            required
          />
          <input
            type="email"
            name="email"
            id="email"
            placeholder="EMAIL"
            required
          />
          <textarea name="message" rows="3" placeholder="MESSAGE" required
          ></textarea>
          <input type="submit" value="SEND MESSAGE" class="button" />
        </form>
        <section class="footer__socials">
          <p class="logo">PeterJacobs</p>
          <nav class="socials">
            <ul>
              <li>
                <a
                  href="https://www.linkedin.com/in/thisispeterj/"
                  target="_blank"
                >
                  <svg width="25" height="24">
                    <path
                      fill="#FFF"
                      fill-rule="evenodd"
                      d="M5.551 3.304c-1.14 0-2.067.926-2.067 2.064 0 1.14.928 2.066 2.067 2.066a2.066 2.066 0 0 0 0-4.13ZM3.767 8.998v11.453h3.562L7.33 8.998H3.767Zm5.798 0V20.45l3.554.002.002-5.668c0-1.454.253-2.941 2.132-2.941 1.851 0 1.851 1.755 1.851 3.036v5.571l3.559-.001v-6.28c0-2.834-.517-5.457-4.27-5.457-1.763 0-2.916.997-3.368 1.85h-.05V8.997h-3.41ZM22.435 24H1.982c-.976 0-1.77-.777-1.77-1.732V1.731C.212.776 1.006 0 1.982 0h20.453c.98 0 1.777.776 1.777 1.73v20.538c0 .955-.797 1.732-1.777 1.732Z"
                    ></path>
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://github.com/thisispeterj" target="_blank">
                  <svg width="25" height="24">
                    <path
                      fill="#FFF"
                      fill-rule="evenodd"
                      d="M12.304 0C5.506 0 0 5.506 0 12.304c0 5.444 3.522 10.042 8.413 11.672.615.108.845-.261.845-.584 0-.292-.015-1.261-.015-2.291-3.091.569-3.891-.754-4.137-1.446-.138-.354-.738-1.446-1.261-1.738-.43-.23-1.046-.8-.016-.815.97-.015 1.661.892 1.892 1.261 1.107 1.86 2.876 1.338 3.584 1.015.107-.8.43-1.338.784-1.646-2.738-.307-5.598-1.368-5.598-6.074 0-1.338.477-2.446 1.26-3.307-.122-.308-.553-1.569.124-3.26 0 0 1.03-.323 3.383 1.26.985-.276 2.03-.415 3.076-.415 1.046 0 2.092.139 3.076.416 2.353-1.6 3.384-1.261 3.384-1.261.676 1.691.246 2.952.123 3.26.784.861 1.26 1.953 1.26 3.307 0 4.721-2.875 5.767-5.613 6.074.446.385.83 1.123.83 2.277 0 1.645-.015 2.968-.015 3.383 0 .323.231.708.846.584a12.324 12.324 0 0 0 8.382-11.672C24.607 5.506 19.101 0 12.304 0Z"
                    ></path>
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://codepen.io/thisispeterj/" target="_blank">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 138 26"
                    fill="none"
                    stroke="#FFF"
                    stroke-width="2.3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    width="138"
                    height="26"
                  >
                    <path
                      d="M80 6h-9v14h9 M114 6h-9 v14h9 M111 13h-6 M77 13h-6 M122 20V6l11 14V6 M22 16.7L33 24l11-7.3V9.3L33 2L22 9.3V16.7z M44 16.7L33 9.3l-11 7.4 M22 9.3l11 7.3 l11-7.3 M33 2v7.3 M33 16.7V24 M88 14h6c2.2 0 4-1.8 4-4s-1.8-4-4-4h-6v14 M15 8c-1.3-1.3-3-2-5-2c-4 0-7 3-7 7s3 7 7 7 c2 0 3.7-0.8 5-2 M64 13c0 4-3 7-7 7h-5V6h5C61 6 64 9 64 13z"
                    ></path>
                  </svg>
                </a>
              </li>
              <li>
                <a
                  href="https://www.frontendmentor.io/profile/thisispeterj"
                  target="_blank"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="26"
                    height="23"
                  >
                    <path
                      fill="#FFF"
                      d="M13.084.23a.751.751 0 0 0-.736.75v14.267a.75.75 0 1 0 1.5 0V.98a.75.75 0 0 0-.763-.75ZM24.44 4.504a.752.752 0 0 0-.284.064l-6.44 2.875a.752.752 0 0 0 0 1.37l6.44 2.884a.75.75 0 0 0 .612-1.369L19.861 8.13l4.907-2.191a.753.753 0 0 0 .38-.99.752.752 0 0 0-.708-.444ZM1.371 9.663a.752.752 0 0 0-.74.938C2.41 17.447 8.603 22.23 15.685 22.23a.75.75 0 1 0 0-1.501A14.053 14.053 0 0 1 2.083 10.225a.75.75 0 0 0-.712-.561v-.001Z"
                    ></path>
                  </svg>
                </a>
              </li>
            </ul>
          </nav>
        </section>
      </footer>
    </div>
  </body>
</html>
